@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }

<link href="~/fonts/font-awesome.css" rel="stylesheet" />

<style>
    #firstnode {
        padding-left:10px;
        padding-right:10px;
        font-size:18px;
        background-color:#293952;
        color:white;
        border-radius:5px 5px
    }
    #secondnode {
       padding-left:10px;
       padding-right:10px;
       font-size:18px;
       background-color:#621A4B;
       color:white;
       border-radius:5px 5px
    }
    #thirdnode {
       padding-left:10px;
       padding-right:10px;
       font-size:18px;
       background-color:darkgrey;
       color:white;
       border-radius:5px 5px
    }
    #errornode {
       padding-left:10px;
       padding-right:10px;
       font-size:18px;
       background-color:red;
       color:white;
       border-radius:5px 5px
    }
    #oknode {
       padding-left:10px;
       padding-right:10px;
       font-size:18px;
       background-color:darkgreen;
       color:white;
       border-radius:5px 5px
    }

</style>

@if(@ViewBag.UserLocation2 != null)
{
    @Html.DevExpress().Panel(settings =>
    {
        settings.Name = "Panel";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(98);
        settings.SetContent(@"<span id=""firstnode""> " + @ViewBag.BaseLocation + "</span> <i class='fa fa-arrow-right' aria-hidden='true'></i>"
                         + @"&nbsp;<span id=""secondnode""> " + @ViewBag.UserLocation + "</span> <i class='fa fa-arrow-right' aria-hidden='true'></i>"
                         + @" &nbsp;<span id=""thirdnode""> " + @ViewBag.UserLocation2 + "</span>");
        settings.FixedPosition = DevExpress.Web.PanelFixedPosition.WindowTop;
        settings.SettingsCollapsing.ExpandEffect = DevExpress.Web.PanelExpandEffect.Auto;
    }).GetHtml()
}
else
{
    @Html.DevExpress().Panel(settings =>
    {
        settings.Name = "Panel";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(98);
        settings.SetContent(@"<span id=""firstnode""> " + @ViewBag.BaseLocation + "</span> <i class='fa fa-arrow-right' aria-hidden='true'></i>"
                         + @"&nbsp;<span id=""secondnode""> " + @ViewBag.UserLocation + "</span>");
        settings.FixedPosition = DevExpress.Web.PanelFixedPosition.WindowTop;
        settings.SettingsCollapsing.ExpandEffect = DevExpress.Web.PanelExpandEffect.Auto;
    }).GetHtml()

}





@Html.DevExpress().Panel(settings =>
{
    settings.Name = "LeftPane";
    settings.FixedPosition = PanelFixedPosition.WindowLeft;
    settings.Collapsible = true;
    settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 0;
    settings.ControlStyle.CssClass = "leftPane";

    //settings.Width = Unit.Percentage(25);
    //settings.Collapsible = true;
    //settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 1023;
    settings.SettingsCollapsing.ExpandButton.GlyphType = PanelExpandButtonGlyphType.Auto;
    settings.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Slide;
    //settings.Images.ExpandButton.Width = 32;
    //settings.Images.ExpandButton.Height = 32;
    //settings.Images.ExpandButton.Url = "/images/Menu32.png";

    //settings.Images.ExpandButton.Url = "~/images/Menu32.png";
    settings.Styles.Panel.CssClass = "panel";
    settings.SetContent(() =>
    {
        Html.RenderPartial("ContentLeftPartialView");
    });
}).GetHtml()

<div class="contentPane">
    @RenderBody()
</div>
