@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

@Html.DevExpress().Panel(settings =>
{
    settings.Name = "Panel";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(98);
    settings.SetContent(@"<span style=""padding-left:10px;padding-right:10px;font-size:18px;background-color:#293952;color:white;border-radius:5px 5px;""> "+ @ViewBag.OfficeName + @"</span> &nbsp;&nbsp;&nbsp;&nbsp;
       <span style=""padding-left:10px;padding-right:10px;font-size:18px;background-color:#621A4B;color:white;border-radius:5px 5px""> " + @ViewBag.UserLocation + "</span>");
    settings.FixedPosition = DevExpress.Web.PanelFixedPosition.WindowTop;
    settings.SettingsCollapsing.ExpandEffect = DevExpress.Web.PanelExpandEffect.Auto;
}).GetHtml()




@Html.DevExpress().Panel(settings =>
{
    settings.Name = "LeftPane";
    settings.FixedPosition = PanelFixedPosition.WindowLeft;
    settings.Collapsible = true;
    settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 0;
    settings.ControlStyle.CssClass = "leftPane";
    settings.Styles.Panel.CssClass = "panel";
    settings.SetContent(() =>
    {
        Html.RenderPartial("ContentLeftPartialView");
    });
}).GetHtml()

<div class="contentPane">
    @RenderBody()
</div>