    
<style>
    .menu_heading {
       font-size:18px;
    }
    .logoff-class {
       font-size:18px;
       padding-left:10px;
       padding-right:10px;
       font-size:18px;
       font-style:normal;
       background-color:teal;
       color:white;
    }

    
</style>


<div class="leftPanel" id="Multilink2leftPanel">
        @* DXCOMMENT: Configure the left panel's menu *@
    @*@Html.DevExpress().NavBar(settings => {
    settings.Name = "LeftNavBar";
    settings.AutoCollapse = true;
    settings.EnableAnimation = true;
    settings.EnableClientSideAPI = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.ControlStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
}).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/SideMenu.xml"), "/menu/*").GetHtml()*@

   

    <span  id="firstnode"><i class="fa fa-home fa-fw"></i>Current Listing</span>
    <br />

   @Html.DevExpress().Menu(settings =>
   {
       settings.Name = "LeftMenu";
       settings.Enabled = Session["multilink_login"] == "ok";
       settings.EnableAdaptivity = true;
       settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
       settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
   }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/SideMenu.xml"), "/menu/*").GetHtml()

    <br />
    <img src=@Session["user_photo"] width="180" />
    @Html.DevExpress().Menu(settings =>
        {
            settings.Name = "LeftMenu1";
            settings.Enabled = Session["multilink_login"] == "ok";
            settings.EnableAdaptivity = true;
            settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
            settings.Items.Add(item =>
            {
                item.Text = "Logout";
                item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Login", Action = "LogOff" });
            });
        }).GetHtml()

    @if (Session["show_support_menu"] == "yes")
    {
        <br />
        <span id="firstnode"><i class="fa fa-life-ring" aria-hidden="true"></i>&nbsp;Multilink Support</span>
        <br /><br />
        <i class="fa fa-share" aria-hidden="true"></i> @Html.ActionLink("Check XML Jobs", "vwCheckJobs", "Support")
        <br /><br />
        <i class="fa fa-user-o" aria-hidden="true"></i> @Html.ActionLink("Find User", "FindUser", "Support")
        <br /><br />
        <i class="fa fa-medkit" aria-hidden="true"></i> @Html.ActionLink("Inspections (experimental)", "ViewInspections", "Inspections")

        <br />
    }
   

    </div>