@using Multilink2.Models;
@model List<CheckJobs>

<style>
table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;    
}
</style>

<table class="table"  border="1">


        @foreach (var item in Model)
        {
            if (item.NQR != 0)
            {
                <tr bgcolor="#FF0000">
                    <td>
                        @Html.DisplayFor(modelItem => item.JobNameReadable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusReport2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusReport)
                    </td>
                </tr>
            }
            else
            {
                <tr bgcolor="#CCFFE5">
                    <td>
                        @Html.DisplayFor(modelItem => item.JobNameReadable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusReport2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusReport)
                    </td>
                </tr>
            }

        }

</table>


